.container{
    padding: 20px;
    border-radius:10px ;
    background-color: var(--bgsoft);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    width: 30%; /* Ancho deseado para la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    margin-right: 10px; /* Margen derecho */

}

.menu{
    display: flex;
    gap: 20px;
    align-items: center;
   
}


.search{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #d8d8d9;
    padding: 10px;
    border-radius: 10px;

}


.input{
    background-color: transparent;
    border: none;
    color: black;
}


.icons{
    display: none;
    gap: 20px;
}



@media (max-width: 768px) {
    .container{
       max-width: 100%;
      
    }

    .icons{
        display: flex;
        gap: 20px;

    }
    

    .input{
        max-width: 30%;
    }

    .logo{
        width: 40px; /* Ancho deseado para la imagen */
        height: 50%; /* Altura automática para mantener la proporción */
        margin-right: 10px; /* Margen derecho */
    
    }
   
}