.container{
    padding: 20px;
    border-radius:10px ;
    background-color: var(--bgsoft);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.title{
    color: var(--textSoft);
    font-weight: bold;
    text-transform: capitalize;
}


.menu{
    display: flex;
    gap: 20px;
    align-items: center;
}


.search{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #d8d8d9;
    padding: 10px;
    border-radius: 10px;

}


.input{
    background-color: transparent;
    border: none;
    color: var(--text);
}